<a href="https://colab.research.google.com/github/quantumhome/DataAnalysisCaseStudy/blob/master/Pandas_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [189]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [190]:
df = pd.read_csv('/content/sample_data/housing.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [191]:
# 1. How many houses have a waterfront?
# A. 140
# B. 340
# C. 323
# D. 163

da = df[df['waterfront'] >0]
len(da)

163

In [192]:
# 2. Which zip code has the costliest house?
# A. 98456
# B. 98102
# C. 98283
# D. 89034

cost = df[df['price']== df['price'].max()]['zipcode']
cost

7252    98102
Name: zipcode, dtype: int64

In [193]:
# 3. How many houses are having grade 10?
# A. 1133
# B. 1134
# C. 1135
# D. 1132
noofhouse = len(df[df['grade']==10])
noofhouse

1134

In [194]:
# 4. How many null values are there in the dataset?
# A. 20
# B. 19
# C. 0
# D. 4

df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [195]:
# 5. Does this 9126100861 customer have a waterfront?
# A. Yes
# B. No

da = df[df['id'] == 9126100861]['waterfront']
da

400    0
Name: waterfront, dtype: int64

In [196]:
# 6. How many houses have 3 views?
# A. 340
# B. 550
# C. 510
# D. 90

len(df[df['view']==3])

510

In [197]:
# 7. What is the lowest price of the house?
# A. 45000
# B. 28000
# C. 75000
# D. 25000
df[df['price']== df['price'].min()]['price']

1149    75000
Name: price, dtype: int64

In [198]:
# 8. Which zip code area has the cheapest house?
# A. 98000
# B. 98022
# C. 80000
# D. 94500
df[df['price']== df['price'].min()]['zipcode']

1149    98022
Name: zipcode, dtype: int64

In [199]:
# 9. Which area has the biggest sqft_living?
# A. 98053
# B. 98055
# C. 98035
# D. None of the above
df[df['sqft_living']== df['sqft_living'].max()]['zipcode']

12777    98053
Name: zipcode, dtype: int64

In [200]:
# 10. In which year the costliest house has been built?
# A. 2000
# B. 1992
# C. 1911
# D. 1910
df[df['price']== df['price'].max()]['yr_built']

7252    1910
Name: yr_built, dtype: int64

In [201]:
# 11. Which of the following data types can a Pandas Series have?
# A. Int
# B. Str
# C. Float
# D. All of the above

# D. All of the above

In [202]:
# 12. Which of the following is having a one-dimensional array?
# A. Series data type
# B. DataFrame data type
# C. Both of the above
# D. None of the above

# A. Series data type

In [203]:
# 13. What value will you get on the left side after printing a series format data?
# A. Data
# B. Value
# C. Index
# D. All of the above

# C. Index

In [204]:
# 14. Which of the following is considered as data in pandas?
# A. Dictionary
# B. Boolean
# C. Nd-array
# D. All of the above

# D. All of the above

In [205]:
# 15. In what format the keys will get converted into when we convert the dictionary data into
# data frame format?
# A. Rows
# B. Columns
# C. Indexes
# D. Records

# B. Columns

In [206]:
# 16. Write a function to perform the following operation:
# Increase the grade of the house by 1 if the sqft of the house is greater than 0 and less than
# equal to 400. If the total sqft of the house is greater than 400, increase the grade of the house
# by 2.
# After creating the above function, which syntax will be using when using apply function to run
# the above created function in the dataset?
# A. data.apply(your_function_name(arg1))
# B. data.apply_fun(function_name())
# C. data.app(data)
# D. None of the above

# D. None of the above

In [207]:
# 17. How to check the duplicate values on id,grade and location?
# A. df.duplicated(subset=['id','zipcode','grade'])
# B. df.duplicate(subset=['id','zipcode','grade'])
# C. df[df.duplicated(['id','zipcode','grade’])]
# D. All of the above

# C. df[df.duplicated(['id','zipcode','grade’])]

In [208]:
# 18. Which of the following code will help to display the 3rd, 4th and 5th rows from the 6th to 9th
# columns of data frame data?
# A. data.loc[3:6, 6:10]
# B. data.iloc[3;6,6;10]
# C. data.iloc[3:6,6:10]
# D. None of the above

# C. data.iloc[3:6,6:10]
# df.iloc[3:6,6:10]

In [209]:
# 19. Which of the following syntax will display the last two records of df?
# import pandas as pd
df1 = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
# A. df.iloc[:'r3']
# B. df.loc['r2':'r3']
# C. df.iloc['r2':'r3']
# D. df.loc[:'r3']
df1.loc['r2':'r3']

     A   B
r2  78  67
r3  54  43

In [210]:
# 20. Which of the following is/are true about loc in pandas:
# A. Add new rows in the data frames
# B. To change the values of a row to a particular value
# C. To extract values from the particular rows
# D. All of the above

#D. All of the above

In [211]:
from os import defpath
# 21. Change the date column in the format (dd/mm/year) using the pandas to_datetime()
# Function.
# A. pd.to_datetime(data['date'], format='%Y-%m-%d', utc=False, dayfirst=True)
# B. pd.to_datetime(data['date'])
# C. pd.to_datetime(data['dates'], format='%Y-%m-%d', utc=False, dayfirst=True)
# D. pd.to_datetime(data['date'])
ds = pd.to_datetime(df['date'])
ds

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

In [212]:
# 22. Create a separate data frame that satisfies the conditions below.
# 1. Houses built before 1980
# 2. Have more than 2 bedrooms
# 3. Have more than 2 floors.
# A. data.loc[(data["yr_built"] > 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]
# B. data.loc[(data["yr_built"] < 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]
# C. data.loc[(data["yr_built"] | 1980) & (data['floors'] > 2) | (data['bedrooms'] > 2)]
# D. data.loc[(data["yr_built"] < 1980) | (data['floors'] > 2) | (data['bedrooms'] < 2)]

# B. data.loc[(data["yr_built"] < 1980) & (data['floors'] > 2) & (data['bedrooms'] > 2)]

In [213]:
# 23. For a given nested list, convert the same into a dataframe.
sample_list = [['Carl', 22],
['Martha', 25],
['Calvin', 12],
['Stuart', 15]
]
# The resulting dataframe must contain the column names as ‘Name’, and ‘Age’ with the
# respective values from the sample_list.
# A. pd.DataFrame(sample_list)
# B. pd.DataFrame(sample_list, column_names=['Name', 'Age'])
# C. pd.DataFrame(sample_list, columns=['Name', 'Age'])
# D. pd.DataFrame(sample_list, column_name=['Name', 'Age'])

pd.DataFrame(sample_list, columns=['Name', 'Age'])

     Name  Age
0    Carl   22
1  Martha   25
2  Calvin   12
3  Stuart   15

In [214]:
# 24. For a given dictionary, convert the same into a dataframe.
sample_dict = {'Cristiano': ['Ronaldo','Man U', 801],
'Lionel': ['Messi','PSG', 758],
'Luis': ['Suarez','Atletico Madrid', 509],
'Robert': ['Lewandowski','Bayern Munich', 527],
'Zlatan': ['Ibrahimovic','AC Milan',553]
}
# A. df1 = pd.Dataframe(sample_dict)
# df1 = df1.transpose()
# df1.reset_index(inplace = True)
# df1.columns = ['First Name','Last Name', 'Club', 'Goals']
# B. df1 = pd.DataFrame(sample_dict)
# df1 = df1.transpose()
# df1.reset_index(inplace = True)
# df1.columns = ['First Name','Last Name', 'Club', 'Goals']
# C. df1 = pd.DataFrame(sample_dict)
# df1.reset_index(inplace = True)
# df1.columns = ['First Name','Last Name', 'Club', 'Goals']
# D. df1 = pd.DataFrame(sample_dict)
# df1 = df1.transpose()
# df1.columns = ['First Name','Last Name', 'Club', 'Goals']

df1 = pd.DataFrame(sample_dict)
df1 = df1.transpose()
df1.reset_index(inplace = True)
df1

       index            0                1    2
0  Cristiano      Ronaldo            Man U  801
1     Lionel        Messi              PSG  758
2       Luis       Suarez  Atletico Madrid  509
3     Robert  Lewandowski    Bayern Munich  527
4     Zlatan  Ibrahimovic         AC Milan  553

In [215]:
# 25. For a given tuple, convert the same into a dataframe.
sample_tuple = ([1, 'one', 3],
[2, 'two', 3],
[3, 'Three', 5],
[4, 'Four', 4],
[5, 'Five', 4])
# A. pd.Dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])
# B. pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])
# C. pd.dataframe(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])
# D. pd.DataFrame(sample_tup, columns=['Number', 'Number_text', 'txtlen'])
pd.DataFrame(sample_tuple, columns=['Number', 'Number_text', 'txtlen'])

   Number Number_text  txtlen
0       1         one       3
1       2         two       3
2       3       Three       5
3       4        Four       4
4       5        Five       4

In [216]:
# 26. Create a separate dataframe that contains houses ordered in ascending or descending
# order of the prices of each house.
# A. ascending = housing.sort_values('price', ascending=False)
# descending = housing.sort_values('price', ascending=False)
# B. ascending = housing.sort_values('price', ascending=True)
# descending = housing.sort_values('price', ascending=False)
# C. ascending = housing.sort_values('price', ascending=False)
# descending = housing.sort_values('price', ascending=True)
# D. ascending = housing.sort_values('price', ascending=True)
# descending = housing.sort_values('price', ascending=True)

# B
# ascending = housing.sort_values('price', ascending=True)
# descending = housing.sort_values('price', ascending=False)

In [217]:
# 27. Calculate the mean and standard deviation of all the numerical values in the dataset. For
# example - the mean for the bedrooms column is 3.370 and the standard deviation is 0.930.
# A. housing.describe()
# B. housing.info()
# C. housing.corr()
# D. housing.std()

df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [221]:
# 28. Perform the following operations on the pandas dataframe.
# 1. Get the data starting from the rows 25 to 35.
# 2. Get the price of the houses located at the longitude--122.045 latitude- 47.6168.
# A. data[25:35], data.loc[(housing["lat"] == 47.6168) | (data["long"] == -122.045)]
# B. data[25:35], data.loc[(housing["lat"] == 48.6168) & (data["long"] == -122.045)]
# C. data[25:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]
# D. data[24:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]
data = df
housing = df
# C
dj = data[25:36], data.loc[(housing["lat"] == 47.6168) & (data["long"] == -122.045)]
print("result" , dj)

result (            id             date   price  bedrooms  bathrooms  sqft_living  \
25  1202000200  20141103T000000  233000         3       2.00         1710
26  1794500383  20140626T000000  937000         3       1.75         2450
27  3303700376  20141201T000000  667000         3       1.00         1400
28  5101402488  20140624T000000  438000         3       1.75         1520
29  1873100390  20150302T000000  719000         4       2.50         2570
30  8562750320  20141110T000000  580500         3       2.50         2320
31  2426039314  20141201T000000  280000         2       1.50         1190
32   461000390  20140624T000000  687500         4       1.75         2330
33  7589200193  20141110T000000  535000         3       1.00         1090
34  7955080270  20141203T000000  322500         4       2.75         2060
35  9547205180  20140613T000000  696000         3       2.50         2300

    sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
25      4697     1.5           0     0  ...      6        1710              0
26      2691     2.0           0     0  ...      8        1750            700
27      1581     1.5           0     0  ...      8        1400              0
28      6380     1.0           0     0  ...      7         790            730
29      7173     2.0           0     0  ...      8        2570              0
30      3980     2.0           0     0  ...      8        2320              0
31      1265     3.0           0     0  ...      7        1190              0
32      5000     1.5           0     0  ...      7        1510            820
33      3000     1.5           0     0  ...      8        1090              0
34      6659     1.0           0     0  ...      7        1280            780
35      3060     1.5           0     0  ...      8        1510            790

    yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
25      1941             0    98002  47.3048 -122.218           1030
26      1915             0    98119  47.6386 -122.360           1760
27      1909             0    98112  47.6221 -122.314           1860
28      1948             0    98115  47.6950 -122.304           1520
29      2005             0    98052  47.7073 -122.110           2630
30      2003             0    98027  47.5391 -122.070           2580
31      2005             0    98133  47.7274 -122.357           1390
32      1929             0    98117  47.6823 -122.368           1460
33      1929             0    98117  47.6889 -122.375           1570
34      1981             0    98058  47.4276 -122.157           2020
35      1930          2002    98115  47.6827 -122.310           1590

    sqft_lot15
25        4705
26        3573
27        3861
28        6235
29        6026
30        3980
31        1756
32        5000
33        5080
34        8720
35        3264

[11 rows x 21 columns],            id             date   price  bedrooms  bathrooms  sqft_living  \
4  1954400510  20150218T000000  510000         3        2.0         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
4        7503

[1 rows x 21 columns])

In [224]:
# 29. Create a new column with the floor area(sqft_living, sqft_lot, sqft_above, sqft_basement, all
# combined in one column).
# A. data['Floor Area'] = data['sqft_living'], data['sqft_lot'], data['sqft_basement'],
# data['sqft_above']
# B. df['Floor Area'] = data['sqft_living'] + data['sqft_lot'] + data['sqft_basement'] +
# data['sqft_above']
# C. data['Floor Area'] = data['sqft_living', 'sqft_lot','sqft_basement','sqft_above']
# D. data['Floor Area'] = data['sqft_liv', 'sqft_lot','sqft_base','sqft_above']

df['Floor Area'] = df['sqft_living'] + df['sqft_lot'] + df['sqft_basement'] + data['sqft_above']
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Floor Area
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,8010
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,12382
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,11540
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,8920
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,11440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,4191
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,10433
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,3390
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,5588
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,3116

In [ ]:
# 30. Perform the following operations on the dataframes given below.
# A = pd.DataFrame([['Carl', 22],['Martha', 25],['Calvin', 12],['Stuart', 15]], columns=[‘Name’, ‘Age’])
# B = pd.DataFrame([['Melvin', 25],['Martha', 34],['Lewis', 32],['Leo', 25]], columns=[‘Name’, ‘Age’])
# 1. Left Outer Join
# 2. Outer Join
# 3. Inner Join
# 4. Right Outer Join
# A. inner = pd.merge(A, B, on='Age', how='inner_join')
# outer = pd.merge(A, B, on='Age', how='outer_join')
# left_outer = pd.merge(A, B, on='Age', how='left_join')
# right_outer = pd.merge(A, B, on='Age', how='right_join')
# B. inner = pd.merge(A, B, on='Age', how='inner')
# outer = pd.merge(A, B, on='Age', how='outer')
# left_outer = pd.merge(A, B, on='Age', how='left_outer')
# right_outer = pd.merge(A, B, on='Age', how='right_outer')
# C. inner = pd.merge(A, B, on='Age', how='inner')
# outer = pd.merge(A, B, on='Age', how='outer')
# left_outer = pd.merge(A, B, on='Age', how='left')
# right_outer = pd.merge(A, B, on='Age', how='right')
# D. inner = pd.merge(A, B, on='Age', how='inner')
# outer = pd.merge(A, B, on='Age', how='outer')
# left_outer = pd.merge(A, B, on='Age', how='outer_left')
# right_outer = pd.merge(A, B, on='Age', how='outer_right')

# A. inner = pd.merge(A, B, on='Age', how='inner_join')
# outer = pd.merge(A, B, on='Age', how='outer_join')
# left_outer = pd.merge(A, B, on='Age', how='left_join')
# right_outer = pd.merge(A, B, on='Age', how='right_join')

In [225]:
# 31. What will be the correlation between the columns sqft_living and sqft_above?
# A. 0.702035
# B. 0.754665
# C. 0.876597
# D. 0.303093

df['sqft_living'].corr(df['sqft_above'])

0.876596598681318

In [ ]:
# 32. If the correlation between the columns bathrooms and sqft_living is 0.754665, what all
# interpretations can be made about the two columns?
# A. A positive correlation between the two columns
# B. The columns show perfect correlation.
# C. A strong negative correlation between the two columns
# D. No correlation between the two columns

# A. A positive correlation between the two columns