In [237]:
# Step - 1 ( Importing libraries )
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [238]:
# step - 2 ( Data loading)
data =pd.read_csv("purchase_data.csv")
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,NaN,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,NaN,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,NaN,NaN,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
# Pre-defined function to print full data

# print(data.to_string())

In [240]:
# step - 3 ( EDA  Exploratory Data Analysis )

In [241]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  object
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 24.1+ MB

In [242]:
data["Stay_In_Current_City_Years"].unique()  # It will return the list containing all the unique values

array(['2', '4+', '3', '1', '0', nan], dtype=object)

In [243]:
data["Stay_In_Current_City_Years"].nunique()  # It will return the count of unique values

5

In [244]:
# There is a value 4+ in "Stay_In_Current_City_Years" replace it with 4
data["Stay_In_Current_City_Years"] =data["Stay_In_Current_City_Years"].replace("4+",4)

In [245]:
data["Marital_Status"].unique()

array([ 0.,  1., nan])

In [246]:
# Change the data type fo this column to numeric
data["Stay_In_Current_City_Years"]= pd.to_numeric(data["Stay_In_Current_City_Years"],errors="coerce")  # this parameter to avoid error

In [247]:
# data["Stay_In_Current_City_Years"]= .astype(int)

In [248]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  float64
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 24.1+ MB

In [249]:
data["Age"].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25', nan],
      dtype=object)

In [250]:
data["Age"].nunique()  # We are having 7 unique age group range values nan , 0-17 is first age , 55+ to last is the last age group

7

In [251]:
# Check for null values
data.isnull().sum()

User_ID                            0
Product_ID                         1
Gender                             1
Age                                1
Occupation                         1
City_Category                      1
Stay_In_Current_City_Years         1
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [252]:
# Replace the nan values in Product category 2 anad 3 column by 0
data["Product_Category_2"].fillna( 0 , inplace=True )
data["Product_Category_3"].fillna( 0 , inplace=True )

<ipython-input-252-089d547fa26f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Product_Category_2"].fillna( 0 , inplace=True )
<ipython-input-252-089d547fa26f>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Product_Category_3"].fillna( 0 , inplace=True )

In [253]:
# Check for null values
data.isnull().sum()

User_ID                       0
Product_ID                    1
Gender                        1
Age                           1
Occupation                    1
City_Category                 1
Stay_In_Current_City_Years    1
Marital_Status                1
Product_Category_1            1
Product_Category_2            0
Product_Category_3            0
Purchase                      1
dtype: int64

In [254]:
# Drop the reamining 1-1 null values present in remaining columns
data.dropna(inplace=True)

In [255]:
# Check for null values
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

**Label Encoding**  Converting categorical columns to numerical data

In [256]:
from sklearn.preprocessing import LabelEncoder

In [257]:
le = LabelEncoder()

In [258]:
# Perform label encoding in City , Age , product id , Gender

data["Product_ID"] = le.fit_transform(data["Product_ID"])
data["Gender"] = le.fit_transform(data["Gender"])
data["Age"] = le.fit_transform(data["Age"])
data["City_Category"] = le.fit_transform(data["City_Category"])

In [259]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,647,0,0,10.0,0,2.0,0.0,3.0,0.0,0.0,8370.0
1,1000001,2304,0,0,10.0,0,2.0,0.0,1.0,6.0,14.0,15200.0
2,1000001,814,0,0,10.0,0,2.0,0.0,12.0,0.0,0.0,1422.0
3,1000001,790,0,0,10.0,0,2.0,0.0,12.0,14.0,0.0,1057.0
4,1000002,2657,1,6,16.0,2,4.0,0.0,8.0,0.0,0.0,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263009,1004473,2762,1,3,1.0,1,3.0,0.0,8.0,0.0,0.0,8061.0
263010,1004473,403,1,3,1.0,1,3.0,0.0,5.0,18.0,0.0,3722.0
263011,1004473,1015,1,3,1.0,1,3.0,0.0,1.0,8.0,17.0,19253.0
263012,1004473,1717,1,3,1.0,1,3.0,0.0,5.0,7.0,0.0,3608.0
263013,1004473,1058,1,3,1.0,1,3.0,0.0,5.0,0.0,0.0,3604.0

# Statistic Analysis

1) Preparing sample

2) Creating two hypothesis ( null hypothesis , Alternate hypothesis )

3) Applying the appropriate test ( based on requirement or case )

4) Compare the p_value

if **p_value is > 0.05** = Fail to reject the null hypothesis ( Accept null hypothesis )

if **p_value is < 0.05** = Reject the null hypothesis ( Accept the alternate hypothesis )

# a) It was observed that the average purchase made by the Men of the age 18-25 was 10000. Is it still the same?

**A one-sample t-test** is a statistical test used to determine whether the mean of a single sample is significantly different from a known or hypothesized population mean.

It helps in testing hypotheses about the average value of a dataset.

**Types of t-tests:**

**One-sample t-test**: Compares the sample mean to a known value (population mean).

**Independent two-sample t-test**: Compares the means of two independent groups.

**Paired sample t-test**: Compares means from the same group at different times (e.g., before and after treatment).

Key Concepts:

Null Hypothesis (H₀): The sample mean is equal to the population mean.

Alternative Hypothesis (H₁): The sample mean is different (greater or less) than the population mean.

In [260]:
# We are going to use one-sample t-test

In [261]:
# Extract the data of age group 18-25 ( because the age 0-17 was encoded as 0 , so the age 18-25 is encoded as 1 )

new_data = data[(data["Age"]==1) & (data["Gender"]==1)]
new_data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
97,1000021,2024,1,1,16.0,1,0.0,0.0,3.0,12.0,0.0,3055.0
98,1000022,3261,1,1,15.0,0,4.0,0.0,1.0,8.0,17.0,12099.0
99,1000022,1954,1,1,15.0,0,4.0,0.0,5.0,8.0,0.0,8797.0
100,1000022,1792,1,1,15.0,0,4.0,0.0,3.0,4.0,0.0,10681.0
101,1000022,1020,1,1,15.0,0,4.0,0.0,8.0,14.0,0.0,7801.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262767,1004446,1311,1,1,18.0,1,1.0,1.0,1.0,2.0,0.0,15431.0
262951,1004465,2880,1,1,4.0,0,1.0,1.0,5.0,0.0,0.0,1763.0
262952,1004465,1296,1,1,4.0,0,1.0,1.0,2.0,3.0,4.0,3240.0
262953,1004465,2733,1,1,4.0,0,1.0,1.0,8.0,0.0,0.0,5832.0
262954,1004465,1424,1,1,4.0,0,1.0,1.0,8.0,0.0,0.0,7788.0

In [262]:
# Collect sample from population
sample =new_data.sample( 3600 , random_state=5)
sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
139338,1003536,1301,1,1,4.0,2,0.0,0.0,1.0,15.0,16.0,11545.0
207997,1002023,1734,1,1,4.0,1,2.0,1.0,3.0,4.0,5.0,13317.0
93718,1002446,982,1,1,7.0,1,0.0,0.0,8.0,0.0,0.0,7891.0
59016,1003112,2192,1,1,12.0,0,3.0,0.0,1.0,15.0,16.0,15666.0
2745,1000438,2953,1,1,11.0,0,3.0,0.0,2.0,0.0,0.0,13129.0
...,...,...,...,...,...,...,...,...,...,...,...,...
202064,1001186,3054,1,1,19.0,0,1.0,1.0,5.0,0.0,0.0,5471.0
219749,1003871,995,1,1,4.0,2,4.0,0.0,1.0,5.0,12.0,15535.0
149953,1005137,210,1,1,18.0,2,4.0,0.0,5.0,0.0,0.0,8828.0
230610,1005565,690,1,1,17.0,2,2.0,0.0,1.0,15.0,17.0,19338.0
9400,1001447,1653,1,1,4.0,0,0.0,0.0,11.0,0.0,0.0,4667.0

In [263]:
new_data["Purchase"].mean() # Average purchase of population

9440.512275679841

In [264]:
# Null hypothesis = mean will be equal to 10,000
# Alternate hypothesis = mean will not be equal to 10,000

In [265]:
from scipy.stats import ttest_1samp
a_mean=10000  # Population measn

In [266]:
t_stat , p_value = ttest_1samp(sample["Purchase"] ,a_mean)
print(t_stat, p_value)

-6.396199324261645 1.7977812377777705e-10

In [298]:
value = 1.7977812377777705e-10
print(f"{value:.25f}")  # Adjust the number of decimal places as needed

0.0000000001797781237777771

**The p-value** tells you the probability of observing the sample data, or something more extreme, assuming the null hypothesis is true.

It helps in making a decision about the null hypothesis.

**t-statistic (t_stat):**

The t-statistic is a measure of how much the sample mean deviates from the population mean, expressed in terms of the standard error. It helps in determining whether the difference between the sample mean and the hypothesized population mean is significant.

**A larger t-statistic** (positive or negative) indicates a greater deviation from the population mean.

**A small t-statistic** indicates that the sample mean is close to the population mean

In [267]:
#if p_value is > 0.05 = Fail to reject the null hypothesis ( Accept null hypothesis )
#if p_value is < 0.05 = Reject the null hypothesis ( Accept the alternate hypothesis )

As our p_value is less than 0.05 os **we are rejecting the null hypothesis** and **accepting the alternate hypothesis**

**Average purchase is not equal to 10,000**

# b) It was observed that the percentage of women that spend more than 10000 was 35%. Is it still the same?

You will use a **one-sample z-tes**t for proportions to compare the observed proportion of women spending more than 10,000 with the hypothesized proportion of 35%.

**Why Use a One-Sample Z-Test for Proportions?**

A z-test for proportions is used when you want to compare an observed sample proportion to a known or hypothesized population proportion.

In [268]:
#null hypothesis - proportion is 35%.
#alternate hypothesis - proportion is not 35%.

data_new = data[(data['Purchase'] > 10000)]

In [269]:
data_new

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,2304,0,0,10.0,0,2.0,0.0,1.0,6.0,14.0,15200.0
5,1000003,1768,1,2,15.0,0,3.0,0.0,1.0,2.0,0.0,15227.0
6,1000004,1684,1,4,7.0,1,2.0,1.0,1.0,8.0,17.0,19215.0
7,1000004,3213,1,4,7.0,1,2.0,1.0,1.0,15.0,0.0,15854.0
8,1000004,3481,1,4,7.0,1,2.0,1.0,1.0,16.0,0.0,15686.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262997,1004472,2433,0,4,16.0,1,0.0,1.0,1.0,11.0,16.0,15175.0
263001,1004472,1921,0,4,16.0,1,0.0,1.0,1.0,11.0,15.0,15430.0
263002,1004472,1665,0,4,16.0,1,0.0,1.0,15.0,16.0,0.0,12567.0
263003,1004472,3209,0,4,16.0,1,0.0,1.0,1.0,2.0,15.0,15387.0
263011,1004473,1015,1,3,1.0,1,3.0,0.0,1.0,8.0,17.0,19253.0

In [270]:
data_new["Gender"].value_counts()

Gender
1    72372
0    18685
Name: count, dtype: int64

In [271]:
#No of women in the sample
count=data_new['Gender'].value_counts()[0]

#number of observations
nobs = len(data_new['Gender'])

# hypothesised value
p0 = 0.35

In [272]:
count,nobs,p0

(18685, 91057, 0.35)

In [273]:
18685/91057

0.20520113774888257

In [274]:
#one sample z test
from statsmodels.stats.proportion import proportions_ztest

In [275]:
z_stat, p_val = proportions_ztest(count=count,nobs=nobs,value=p0)
print(z_stat, p_val)

-108.19403500300525 0.0

**z-statistic**: Measures how many standard errors the observed proportion is away from the hypothesized proportion of 35%.

**p-value**: If the p-value is less than 0.05, reject the null hypothesis and conclude that the proportion of women spending more than 10,000 is different from 35%.

In [276]:
#p-value is less than 0.05, reject the null hypothesis.
#the proportion of women spending more than 10000, is not 35%.

# c)  Is the percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35?

To determine if the percentage of men who spent more than 10,000 is the same for the age groups 18-25 and 26-35, we can perform an inferential statistical test, specifically a **two-proportion z-test.** This test will help us check if the difference in proportions of men with purchases over 10,000 in the two age groups is statistically significant.

In [277]:
#null hypothesis - Percentage of the men in the age groups is same
#alternate hypothesis - Percentage of the men in the age groups is not same

data_age1 = data[(data['Age'] == 1) & (data['Purchase'] > 10000)]
data_age2 = data[(data['Age'] == 2) & (data['Purchase'] > 10000)]

In [278]:
data_age1_sample = data_age1.sample(1000, random_state=0)
data_age2_sample = data_age2.sample(1000, random_state=0)

In [279]:
 [(data_age1_sample['Gender'] == 1).sum(), (data_age2_sample['Gender'] == 1).sum()]

[790, 811]

In [280]:
count = [(data_age1_sample['Gender'] == 1).sum(), (data_age2_sample['Gender'] == 1).sum()]

nobs = [(len(data_age1_sample)), len(data_age2_sample)]

In [281]:
count,nobs

([790, 811], [1000, 1000])

In [282]:
790/1000

0.79

In [283]:
811/1000

0.811

In [284]:
from statsmodels.stats.proportion import proportions_ztest

In [285]:
stat_2sample, p_value_2sample = proportions_ztest(count=count,nobs=nobs,value=0)
stat_2sample, p_value_2sample

(-1.1750387227102372, 0.2399792241715063)

In [286]:
# Use this short and simple method
stat, p_value = proportions_ztest(count, nobs)
stat, p_value

(-1.1750387227102372, 0.2399792241715063)

In [287]:
# Accept null hypothesis
# percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35

# d) Is the average purchase made by men and women of the age 18-25 same

**we can perform an independent two-sample t-test**

In [288]:
#null hypothesis - spends are equal
#alternate hypothesis - spends are not equal

data_men = data.loc[(data['Gender'] == 1)& (data['Age'] == 1)]
data_women = data.loc[(data['Gender'] == 0) & (data['Age'] == 1)]

In [289]:
#creating samples
data_men_sample = data_men.sample(500, random_state=0)
data_women_sample = data_women.sample(500, random_state=0)

In [290]:
#checking variances of the two samples
print(data_men_sample.Purchase.var())
print(data_women_sample.Purchase.var())

27003556.191919863
21090163.43761121

In [291]:
#sample means
print(data_men_sample.Purchase.mean())
print(data_women_sample.Purchase.mean())

9919.908
8553.708

In [292]:
#computing f statistic
from scipy.stats import f
F = data_men_sample.Purchase.mean()/data_women_sample.Purchase.mean()
print(F)

1.15972020555296

In [293]:
#calculating the degrees of freedom
df1 = len(data_men_sample) - 1
df2 = len(data_women_sample) - 1

print(df1, df2)

# degrees of freedom in the F-test indicate the number of independent pieces of information available for estimating variances.

499 499

In [294]:
#p-value
import scipy

p_val=1-scipy.stats.f.cdf(F, df1, df2)
p_val

# Varivances of the two samples are not equal

0.04911994256865615

In [295]:
#two sample t-test for unequal variances
from scipy.stats import ttest_ind

t_stat_2, p_val_2 = ttest_ind(data_men_sample["Purchase"], data_women_sample["Purchase"], equal_var=False)
print(t_stat_2, p_val_2)

4.405093181542756 1.1733959926142893e-05